<div class="ui items segment" *ngIf="show">
  <div class="item">
    <div class="image">
        <img class="ui small image" [src]="bookItem.cover" alt="book cover" />
    </div>
    <div class="content">
      <a class="header">{{ bookItem.title }}</a>
    <div class="meta">
        <span class="" >Author: {{ bookItem.authors }} </span>
        <span class="" > Publish Date: {{ bookItem.publishDate }}</span>
    </div>
    <div class="description">
      <br />
        <p><strong>Description</strong></p>
        <p class="" >{{ bookItem.description }}</p>
    </div>
    
    <div class="extra" *ngIf="isOwner">
      <button id="addBook" (click)="modifyBook()" class="positive ui right floated button">Edit</button>
      <button id="addBook" (click)="confirmDeleteBook()" class="negative ui right floated button">Delete</button>
    </div>
  </div>
</div>
