<div class="ui items segment">
  <div class="item">
    <div class="image">
        <img class="ui small image" [src]="book.bookCover" alt="book cover" />
    </div>
    <div class="content">
      <a class="header">{{ book.title }}</a>
    <div class="meta">
        <span class="" >Author: {{ book.author }} </span>
        <span class="" > Publish Date: {{ book.publishDate }}</span>
    </div>
    <div class="description">
      <br />
        <p><strong>Description</strong></p>
        <p class="" >{{ book.description }}</p>
    </div>
    
    <div class="extra">
        
    </div>
  </div>
</div>
