<head>
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
</head>
<section id="header">
  <div id="padSpace">
    <nav class="ui secondary menu">
        <div class="right menu">
          <a class="ui item" [routerLink]="['login']">Login</a>
        </div>
    </nav>

    <h1>Brett's Awesome Book Emporium</h1>
    <app-breadcrumbs></app-breadcrumbs>
  </div>

  <nav class="ui secondary pointing menu">
    <div id="main_menu" class="menu">
      <a class="ui item" [routerLink]="['home']">Emporium</a>
      <a class="ui item" [routerLink]="['mylibrary']">My Library</a>
      <a class="ui item" [routerLink]="['profile']">Profile</a>
    </div>
  </nav>
  
</section>

<section class="ui container">
  <router-outlet></router-outlet>
</section>

<footer style="margin-top: 20px;">
    <div class="ui center aligned segment">
        <p>Brett's emporium. The real deal.</p>
    </div>
</footer>