#header  h1 {
    margin: 0;
}
#padSpace{
    padding: 20px;
}
#header {
    margin-bottom: 20px;
}
#main_menu {
    margin: 0 auto;
}
nav {
    clear: both;
}


/******************
library item
******************/
.details {
    display: inline-block;
    vertical-align: top;
    padding: 12%;
}

app-library-name h3 {
    display: inline-block;
    margin: 0;
}

app-avatar-image img {
    width: 180px;
    height: 180px;
    border: 2px solid tomato;
    border-radius: 50%;
    margin: 20px
}


/******************
Book items
******************/

#addBook {
 margin-bottom: 20px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

#newBookWindow{
    margin: 5% auto;
    width: 60%;
    max-width: 600px;
    max-height: 80%;
    background-color: white;
    overflow-y: auto;
}
.modalHeader {
    background: #eee;
    height: 35px;
    margin: -14px -14px 10px;
    padding: 5px;
}
.closeX {
    float: right;
    border-radius: 5px;
}

.bookCover {
    min-height: 250px;
}