<!-- Custom modal setup -->
<button id="addBook" (click)="addModal()" class="positive ui button">Add Book</button>
<div id="modal-container" class="{{hideDelete}}">
  <div id="deleteWindow" class="ui segment ">
    <div class="modalHeader">
        <button class="closeX" (click)="cancel()">X</button>
    </div>
    
        <p>Are your sure you want to delete this book?<br />(can't be undone)</p>
    
      <button class="ui button red right floated" type="submit" (click)="deleteBook()" >Delete</button>
      <button class="ui button right floated" (click)="cancel()">Cancel</button>

  </div>
</div>





